* {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    font-size: 18px;

}

nav {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 6%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* background-color: darkmagenta; */
}

nav a.icon {
    position: absolute;
    right: 0;
    top: 0;
    /* background-color: cyan; */
}

nav a .icon {
    display: block;
    color: #282828;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    padding: 4px 0;
    /* position: relative; */
    /* background-color: coral; */

}
nav #mylink a {
    display: block;
    color: #282828;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    padding: 20px 0;
 

}

nav #mylink {
    width: 80%;
    height: 290px;
    display: none;
    /* margin-top: 30px; */
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border-radius: 5px;
    position: absolute;
    left: 50px;
    top: 100px;
    background-color: hsl(0, 0%, 100%);
}

nav>button {
    display: none;
}

nav a.icon {
    margin: 20px;
    display: block;
    width: 10%;
}

.hero {
    width: 100%;
}

.hero-image {
    width: 100%;
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;

}

.hero-image img {
    width: 90%;
    margin-top: -15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-content header {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 300;
    width: 90%;
    margin: 15px auto 20px auto;
    line-height: 3rem;
    color: #333333;
}

.hero-content,
.choose-bank p {
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: #808080;
}

.hero-button {
    align-content: center;
    width: 100%;
    margin-top: 35px;
}

.hero-content button,
.end-footer button {
    width: 50%;
    background: linear-gradient(135deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    margin-left: auto;
    margin-right: auto;
    padding: 20px 25px 20px 25px;
    font-size: 1rem;
    font-weight: 900;
    border: none;
    border-radius: 35px;
    color: hsl(0, 0%, 100%);
}


.choose-bank {
    margin-top: 100px;
}

.choose-bank header h1,
.wrapper header h1 {
    font-size: 2rem;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin: -30px auto 20px auto;
    line-height: 2.5rem;
    color: #333333;
}

/* container-1 */
.container-1 {
    background-color: hsl(220, 16%, 96%);
    margin: 90px 0 0 0;
    padding: 10px 0 70px 0;

}

.Online-Banking,
.Simple-Budgeting,
.Fast-Onboarding,
.Open-API {
    width: 90%;

    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.Online-Banking img,
.Simple-Budgeting img,
.Fast-Onboarding img,
.Open-API img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

.Online-Banking p,
.Simple-Budgeting p,
.Fast-Onboarding p,
.Open-API p {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #9f9393;
}

.Online-Banking header,
.Simple-Budgeting header,
.Fast-Onboarding header,
.Open-API header {
    font-size: 1.5rem;
    margin: 10px;
    color: #404040;
}

/*------------------------- latest article------------------------------- */
.wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.currency-content,
.restaurant-content,
.plane-content,
.confetti-content {
    width: 80%;
    margin: 40px auto 80px auto;
}

.article-image img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
    margin-left: auto;
    margin-right: auto;
}


.currency-content h6,
.restaurant-content h6,
.plane-content h6,
.confetti-content h6 {
    font-size: 0.7rem;
    color: #999999;
    margin-bottom: 16px;

}

.currency-content header h3,
.restaurant-content header h3,
.plane-content header h3,
.confetti-content header h3 {
    width: 93%;
    font-size: 1rem;
    color: #404040;
    margin-bottom: 16px;

}

.currency-content header h3:hover,
.restaurant-content header h3:hover,
.plane-content header h3:hover,
.confetti-content header h3:hover {
    width: 93%;
    font-size: 1rem;
    color: hsl(136, 65%, 51%);
    margin-bottom: 16px;
    cursor: pointer;
}

.currency-content p,
.restaurant-content p,
.plane-content p,
.confetti-content p {
    font-size: 0.9rem;
    color: #b3b3b3;
    line-height: 1.2rem;
    margin-bottom: 16px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(233, 26%, 24%);
}

footer section {

    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer>section>.logo{
    width:30%;
    align-self: center;

}
footer>section>.logo>svg {
    width: 100%;
    margin: 40px auto 30px auto;
    color: hsl(0, 0%, 100%);
}



footer .container {
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    padding-bottom: 40px;
}

footer .wrapper-link {
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: -10px;
    line-height: 1.5rem;
}

footer .wrapper-link a {
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    border: none;
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;
}

.end-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.end-footer p {
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    margin: 30px 0 40px 0;
    color: hsl(233, 8%, 62%);
    font-weight: bolder;
}

.attribution {
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    font-size: 0.7rem;
    color: black;
}

.attribution a {
    text-decoration: none;
    color: black;
}

/* .................desktop view........................................................ */

@media (min-width: 700px) and (max-width: 1440px) {

    * {
        padding: 0;
        margin: 0;
    }

    nav {
        width: 100%;
        display: flex;
        padding: 0 150px 0 0;
        justify-content: space-around;
        z-index: 6;
    }

    nav a.icon {
        display: none;
    }

    nav>svg {
        margin: auto auto auto 150px;
    }

    nav #mylink {
        align-self: center;
        padding: 4px 0 10px 0;
        margin: auto 0 auto 0;
        display: flex;
        top: 0;
        left: 0;
        position: relative;
        height: 60px;
        width: 27%;
        justify-content: space-between;
    }
    nav #mylink a{
        position: relative;
    }
    nav #mylink a:after {
        content: "";
        position: absolute;
        background-color: darkorchid;
        background-image: linear-gradient(135deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        height: 5px;
        width: 0%;
        left: 0;
        bottom: -10px;
        
    
    }
    
    nav #mylink a:hover:after {
        width: 100%;
        border-bottom: turquoise;
    }
    nav a {
        font-size: 0.8rem;
        color: hsl(233, 8%, 62%)
    }

    nav button {
        display: block;
        width: 13%;
        background-image: linear-gradient(135deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        /* text-decoration: none; */
        margin: 15px 0 15px auto;
        padding: 6px 0 6px 0;
        font-size: 1rem;
        font-weight: 900;
        border: none;
        border-radius: 35px;
        color: hsl(0, 0%, 100%);
    }

    nav button a {
        text-decoration: none;
        color: hsl(0, 0%, 100%);
    }

    nav button:hover {
        filter: brightness(150%);
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hero-content header {
        font-size: 3.7rem;
        font-weight: 300;
        text-align: start;
        width: 70%;
        margin: 250px 0 40px 150px;
        line-height: 4rem;
        color: #333333;
    }

    .hero-content p {
        width: 65%;
        text-align: start;
        margin: 0 0 0px 150px;
        font-size: 1rem;
        align-self: flex-start;
        line-height: 1.7rem;
        color: #808080;
    }

    .hero-button {
        position: relative;

    }

    .hero-content button,
    .end-footer button {

        width: 30%;
        background-image: linear-gradient(135deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        padding: 12px 20px 12px 20px;
        font-size: 0.9rem;
        border: none;
        border-radius: 35px;
        color: hsl(0, 0%, 100%);
    }

    .hero-content button:hover,
    .end-footer button:hover {
        filter: brightness(150%);
        cursor: pointer;
    }

    .hero-button button {
        position: absolute;
        left: 150px;
    }


    .hero-wrapper {
        display: flex;
        flex-direction: row-reverse;
        background-color: hsl(0, 0%, 98%);
    }


    .hero-image {
        width: 100%;
        background-image: url(images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 170%;
        background-position-x: -50px;
        background-position-y: -170px;
        overflow: hidden;
    }

    .hero-image img {
        width: 100%;
        margin: 0;
        display: block;
        right: -120px;
        top: -40px;
        position: relative;
        z-index: 5;
        overflow-x: hidden;
    }

    .container-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: -140px 0 -100px 0;
        position: relative;
    }

    .choose-bank {
        width: 55%;
        margin-left: 150px;
    }

    .choose-bank header h1 {
        text-align: start;
        font-size: 2.5rem;

        width: 100%;
    }

    .choose-bank p {
        width: 100%;
        text-align: start;
        margin: 0;
        font-size: 1.2rem;
    }

    .container-wrapper {
        width: 77%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 150px;
        margin-top: 10px;
        column-gap: 20px;
    }

    .Online-Banking,
    .Simple-Budgeting,
    .Fast-Onboarding,
    .Open-API {
        width: 100%;
        text-align: start;

    }

    .Online-Banking header,
    .Simple-Budgeting header,
    .Fast-Onboarding header,
    .Open-API header {
        font-size: 1.5rem;
        margin-left: 0%;
        color: #404040;
    }

    .wrapper {
        display: grid;
        width: 100%;
        margin: 0;
        background-color: hsl(0, 0%, 98%);

    }

    .wrapper header h1 {
        font-size: 2.5rem;
        font-weight: 300;
        margin-top: 250px;
        margin-bottom: 50px;
        margin-left: 150px;
        text-align: start;
    }

    .latest-article-content {
        width: 77%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 150px;
        margin-top: 10px;
        column-gap: 30px;
    }

    .article-image img {
        width: 100%;
        height: 180px;
        border-radius: .5rem .5rem 0 0;
        margin-left: auto;
        margin-right: auto;
    }

    .currency,
    .restaurant,
    .plane,
    .confetti {
        background-color: hsl(0, 0%, 100%);
        color: #999999;
    }

    footer>section {
        /* background-color: turquoise; */
        width: 30%;
        display: grid;
        padding-left: 70px;
        margin-top: 60px;
        align-self: flex-start;
    }

    footer section .logo svg {
        margin: 0 0 20px 0;
    }


    footer .container {
        width: 170px;
        display: grid;
        padding-top: 30px;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }

    footer .container svg {
        width: 100%;
        margin: 0 0 20px 0;
    }

    footer .container .icon:hover {
        fill:     hsl(136, 65%, 51%)
        ;
        cursor: pointer;
    }

    .item1 {
        grid-area: about-Us;
    }

    .item2 {
        grid-area: contact;
    }

    .item3 {
        grid-area: blog;
    }

    .item4 {
        grid-area: careers;
    }

    .item5 {
        grid-area: support;
    }

    .item6 {
        grid-area: privacy;
    }

    footer .wrapper-link {
        width: 30%;
        margin: -155px 95px 20px 0;
        display: grid;
        grid-template-areas:
            'about-Us careers '
            'contact   support'
            'blog privacy';
        column-gap: 60px;
        row-gap: 5px;
    }

    footer .wrapper-link a {
        width: 70%;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 300;
        text-align: start;
    }

    footer .wrapper-link a:hover {
        color:     hsl(136, 65%, 51%)
        ;
    }

    .end-footer {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: -130px;
        margin-bottom: 30px;
        align-self: flex-end;
    }

    .end-footer button {
        align-self: flex-end;
        margin: 0 160px 0 0;
    }

    .end-footer p {
        text-align: end;
        margin: 30px 160px 40px 0;
        font-size: 0.9rem;
        font-weight: 300;
    }

}